<a href="https://colab.research.google.com/github/VEENA20221CCS0149/Data-Handling-and-Visualization/blob/main/FILCKER_IMAGES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from functools import reduce

In [ ]:
#Coping the path
df=pd.read_csv("/content/drive/MyDrive/BL-Flickr-Images-Book.csv")

In [ ]:
print(df.head())

   Identifier             Edition Statement      Place of Publication  \
0         206                           NaN                    London
1         216                           NaN  London; Virtue & Yorston
2         218                           NaN                    London
3         472                           NaN                    London
4         480  A new edition, revised, etc.                    London

  Date of Publication              Publisher  \
0         1879 [1878]       S. Tinsley & Co.
1                1868           Virtue & Co.
2                1869  Bradbury, Evans & Co.
3                1851          James Darling
4                1857   Wertheim & Macintosh

                                               Title     Author  \
0                  Walter Forbes. [A novel.] By A. A      A. A.
1  All for Greed. [A novel. The dedication signed...  A., A. A.
2  Love the Avenger. By the author of â€œAll for Gr...  A., A. A.
3  Welsh Sketches, chiefly ecclesiastical, to the...  A., E. S.
4  [The World in which I live, and my place in it...  A., E. S.

                                   Contributors  Corporate Author  \
0                               FORBES, Walter.               NaN
1  BLAZE DE BURY, Marie Pauline Rose - Baroness               NaN
2  BLAZE DE BURY, Marie Pauline Rose - Baroness               NaN
3                   Appleyard, Ernest Silvanus.               NaN
4                           BROOME, John Henry.               NaN

   Corporate Contributors Former owner  Engraver Issuance type  \
0                     NaN          NaN       NaN   monographic
1                     NaN          NaN       NaN   monographic
2                     NaN          NaN       NaN   monographic
3                     NaN          NaN       NaN   monographic
4                     NaN          NaN       NaN   monographic

                                          Flickr URL  \
0  http://www.flickr.com/photos/britishlibrary/ta...
1  http://www.flickr.com/photos/britishlibrary/ta...
2  http://www.flickr.com/photos/britishlibrary/ta...
3  http://www.flickr.com/photos/britishlibrary/ta...
4  http://www.flickr.com/photos/britishlibrary/ta...

                            Shelfmarks
0    British Library HMNTS 12641.b.30.
1    British Library HMNTS 12626.cc.2.
2    British Library HMNTS 12625.dd.1.
3  British Library HMNTS 10369.bbb.15.
4     British Library HMNTS 9007.d.28.

In [ ]:
#drop unnecessary columns
to_drop=["Edition Statement","Corporate Author"]
df.drop(to_drop,inplace=True,axis=1)

In [ ]:
df.head()

In [ ]:
df.shape

(8287, 13)

In [ ]:
#Setting Index as Identifier Column
df.set_index("Identifier",inplace=True)
df.head()

In [ ]:
for col in df.columns:
  print(col)

Edition Statement
Place of Publication
Date of Publication
Publisher
Title
Author
Contributors
Corporate Author
Corporate Contributors
Former owner
Engraver
Issuance type
Flickr URL
Shelfmarks

In [ ]:
#cleaning unwanted characters
unwanted_characters=['[',',','-']
def clean_dates(item):
  dop=str(item.loc["Date of Publication"])
  if dop=='nan'or dop[0]=='[':
    return np.NaN
  for character in unwanted_characters:
    if character in dop:
        character_index=dop.find(character)
        dop=dop[: character_index]
  return dop
df["Date of Publication"]=df.apply(clean_dates,axis=1)
df["Date of Publication"].head(25)

0     1879
1      1868
2      1869
3      1851
4      1857
5      1875
6      1872
7       NaN
8      1676
9      1679
10     1802
11     1859
12     1888
13     1839
14     1897
15     1865
16     1860
17     1873
18     1866
19     1899
20     1814
21     1820
22     1800
23     1847
24      NaN
Name: Date of Publication, dtype: object